
@import "./resset_base.css";
@import "header_footer.css";
/* @import "./resettAll2.css"; */




/* ======================= */
/*     page layout items   */
/* ======================= */

.main {
    /* width: 100%; */
    width: 900px;
    min-width: 900px;
    max-width: 900px;
    /* min-width: 100%; */
    margin: 0 auto;
    padding: 0;
}


/*  ============================================  */
/*               Content area                     */
/*  ============================================  */

.main {
    /* position: relative; */
    /* height: 100%; */

    /* this gives the extra space above the menu when scrolling... */
    /* min-height: 44rem; */
    
    display: flex;
    flex: 0 0 60%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    /* justify-content: flex-end; */

    height: 100%;   
    min-height: 40rem;
}


.content_wrapper {
    position: absolute;
    top: 105px;
    /* top: 135px; */

    height: 100%;
    /* min-height: 100vh; */

    width: 90%;
    min-width: 90%;
    max-width: 9%;

    margin: 0 auto;
    padding: 0px;
    padding-top: 3.3vw;
    /* padding-top: 32px; */

    display: flex;
    flex: 0 0 90%;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: space-around;

}


/* ======================================= */
/*           right side bar                */
/* ======================================= */


.r-side-bar {
    display: flex;
    flex-direction: column;
    flex: 0 0 12%;
    justify-content: flex-start;

    height: 100%;
    min-height: 100%;

    width: 15%;
    min-width: 15%;
    max-width: 15%;
}

.rsb-content {
    display: flex;  
    flex-direction: row; 
    flex: 0 0 10%;
    justify-content: flex-start;

    height: 10%;
    min-height: 10%;
    max-height: 10%;
    
    width: 88%;
    min-width: 88%;
    max-width: 88%;

}
.rsb-content ul {
    display: flex;
    flex: 0 0 100%;
    justify-content: flex-start;
    align-content: space-around;
    align-items: center;
    
    height: 88%;
    min-height: 88%; 
    
    width: 100%;
    min-width: 100%;
    max-width: 100%;


    border-top: 1px solid #dedede;
    list-style: none;
}

.rsb-content ul li a:hover,
.rsb-content ul li a:active,
.rsb-content  ul li a:focus {
    color: #005CA0;
}

.rsb-content ul li {
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    
    height: 90%;
    min-height: 90%;   
    
    width: 100%;
    min-width: 100%;
    max-width: 100%; 

    background: url(./images/side_menu_sprite.png) no-repeat right center/25vw;
}

.rsb-content ul li a {
    
    display: flex;    
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    height: 100%;
    min-height: 100%;   
       
    width: 80%;
    min-width: 80%;
    max-width: 80%;

     color: #5c5c5c;
     /* background: url(./images/side_menu_sprite.png) no-repeat 0 0;    */

}

.rsb-content ul li a span{
    display: flex;
    /* text-align: center;
    vertical-align: baseline; */
   
    font-size: 1.4vw;
    line-height: 1.4vw;
   
    height: 50%;
    min-height: 50%;   
       
    width: 70%;
    min-width: 70%;
    max-width: 70%;
}


/* ======================================= */
/*         form tab cubes content          */
/* ======================================= */


.center-content {
    height: 100%;
    min-height: 100%;

    width: 85%;
    min-width: 85%;
    max-width: 85%;

    display: flex;
    flex: 0 0 85%;
    flex-wrap: nowrap;

    /* justify-content: flex-end; */
    justify-content: space-between;

    /* align-content: flex-start; */
    align-content: space-between;
    align-items: flex-start;

    margin:0 auto;
    padding: 0;
}


.mid-content { 
 /* rem keeps size fixed */
    height: 35rem;
    min-height: 34rem;
    /* max-height: 100%; */

    width: 58.5%;
    min-width: 58.5%;
    max-width: 58.5%;

    display: flex;
    flex: 0 0 58.0%;
  
    flex-wrap: wrap;

    /* align-content: space-between;
    align-items: flex-start; */
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-between;
}


.cubes-40 {
 /* rem keeps size fixed */
    height: 35rem;
    min-height: 34rem;

    min-width: 41%;
    width: 41%;

    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    flex: 0 0 41%;

    justify-content: space-between;
    /* justify-content: center; */
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
    align-items: center;
    /* align-content: space-evenly; */
    align-content: flex-start;
 
      padding-top: 1.7vw;
      /* padding-top: 2.0vw; */
}

.cubes-40-content {
    margin: 0 auto;
    padding: 0;    
    
    width: 90%;
    min-width: 90%;

    height: 80%;
    min-height: 80%;
    max-height: 80%;

    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    flex: 0 0 80%;

   
    /* justify-content:space-around; */
    justify-content: space-evenly;
    /* justify-content: center; */

    align-content: space-around;
    /* align-content: center; */
    /* align-content: flex-start; */
    align-items:flex-start;

}

.cube-40 {

    margin: 0 auto;
    padding:0;

    width: 100%;
    min-width: 100%;

    height: 36%;
    min-height: 36%;
    max-height: 36%;

    display: flex;
    flex: 0 0 36%;

    /* flex-direction: column; */
    /* flex-wrap: wrap; */

    /* equiv to top left rtl*/
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;

    /* justify-content: center;
    align-items: center; */

    color: #575757;
    background-image: linear-gradient(#fefefe, #eeeeee);

    /* background-color: #fefefe;
    background-color: rgb(254, 254, 254);
    background-color: #eeeeee;
    background-color: rgb(238, 238, 238); */

    border-radius: 0 2vw 0 0;
    border: 0.1vw hidden lightgray;
    /* border-radius: 0 20px 0 0;
    border: 0.9px hidden darkgray; */
    /* 10% will give a soft gray border */
    /* border: 10% hidden darkgray; */

    border-style: outset hidden hidden outset;
}



/* ======================================= */
/*       middle ( inner) nav top bar       */
/* ======================================= */


.mid-top{
    height: 9%;
    min-height: 9%;

    width: 100%;
    min-width: 100%;
    max-width: 100%;

    display: flex;
    flex: 0 0 100%;
    /* flex-direction: column; */
    flex-wrap: wrap;

    align-content: space-between;
    align-items: flex-start;
    justify-content: flex-start;
}

.form-tab-50 {
    /* height: 60.5%;
    min-height: 60.5%; */
    height: 80%;
    min-height: 80%;

    width: 98%;    
    min-width: 98%; 

    margin-top: 2.1vw;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 0 50.5%; 
}




.mid-top-bar {
    height: 100%;
    min-height: 100%;

    width: 100%;
    min-width: 100%;
    max-width: 100%;

    display: flex;
    flex: 0 0 100%;
    /* flex-direction: column; */
    flex-wrap: wrap;

    align-content: space-between;
    align-items: space-between;
    justify-content: flex-start;
}

.mid-top-bar .tree-nav {
        
    display: flex;
    flex: 0 0 100%;
    flex-wrap: nowrap;

    height: 45%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;

    align-content: space-evenly;
    align-items: flex-start;
    justify-content: flex-start;
}

.mid-top-bar .tree-nav ,
.mid-top-bar .tree-nav a ,  
.mid-top-bar .tree-nav span{
    font-size: 1.2vw;
    line-height: 1.2vw;
}

.mid-top-bar .tree-nav a ,  
.mid-top-bar .tree-nav span {
    color: #5c5c5c;
    
    display: flex;
   margin-left: 0.3vw;

    /* flex: 0 0 5%;
 
    height: 90%;
    width: 5%;
    min-width: 5%;
    max-width: 5%; */
}


.mtb-header  {
        
    display: flex;
    flex: 0 0 100%;

    align-content: center;
    align-items: center;
    justify-content: flex-start;

    height: 43%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.mtb-header>h1 {
    font-size: 1.56vw;
    line-height: 1.56vw;

    color: #72716d;
    border-bottom: 1px solid #cbcbcb;

    display: flex;
    flex: 0 0 100%;

    width:  100%;
    min-width:  100%;
    max-width:  100%;

    height: 90%;
 
    
    margin-bottom: 0;
    padding-bottom: 0;
    
}








/* .tabs */

.form-tab-50 .tab-50 {

    width: 88%;
    min-width: 88%;

    height: 79.5%;

    display: flex;
    flex-basis: 40%;

    /* flex-direction: column; */
    /* flex-wrap: wrap; */

    /* equiv to top left rtl*/
    /* justify-content: flex-end; */
    justify-content: center;
    align-items: flex-start;
    align-content: space-between;
    /* 
    align-items: center; */

    color: #575757;
    background-image: linear-gradient(#fefefe, #eeeeee);

    /* background-color: #fefefe;
    background-color: rgb(254, 254, 254);
    background-color: #eeeeee;
    background-color: rgb(238, 238, 238); */

    border-radius: 0 2vw 0 0;
    border: 0.1vw hidden lightgray;
    /* border-radius: 0 20px 0 0;
    border: 0.9px hidden darkgray; */
    /* 10% will give a soft gray border */
    /* border: 10% hidden darkgray; */

    border-style: outset hidden hidden outset;
}

/* 
.tabs article:nth-child(1) {
    background: url("./images/big_img_1.jpg") center/ 100% 100% no-repeat;
}

.tabs article:nth-child(2) {
    background: url("./images/big_img_2.jpg") center/ 100% 100% no-repeat;
}

.tabs article:nth-child(3) {
    background: url("./images/big_img_3.jpg") center/ 100% 100% no-repeat;
} */


.form-tab-50 .tab-50 form *:focus {outline: none;}

.form-tab-50 .tab-50 form {
    margin: 0;
    margin-right: 0.6vw;
    margin-bottom: 0.6vw;

    width: 90%;
    min-width: 90%;
 
    height: 88%;
    flex: 0 0 88%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: flex-start;
    align-content: space-around;

}

.form-tab-50 .tab-50 form .form-h {
    
    margin: 0;
    /* margin-right: 0.6vw;
    margin-bottom: 0.6vw; */

    height: 25%;  

    width: 95%;
    min-width: 95%; 

    display: flex;
    flex: 0 0 95%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-evenly;  

}

.form-tab-50 .tab-50 form .form-h h2 
.form-tab-50 .tab-50 form .form-h span 
{
    display: flex;
    flex: 0 0 100%;
    width: 100%;

    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: flex-start;
    align-items: flex-start;
    align-content: center; */
    /* space-evenly; */

    margin: 0 auto;
    padding:0 ; 

    
}

.form-tab-50 .tab-50 form .form-h h2 {
    display: flex;
  /* font-size: 15px; */
  font-size: 1.45vw;
  font-weight: bold;
  line-height: 1.5vw;

  margin: auto 0 ;
  padding:  0;

  color: #005ca0;
}

.form-tab-50 .tab-50 form .form-h .caption {
    display: flex;
  /* font-size: 13px; */
  font-size: 1.30vw;
  font-weight: bold;
  line-height: 1.4vw;
}

.form-tab-50 .tab-50 form .form-h .instructions {
    display: flex;
  /* font-size: 12px; */
  font-size: 1.18vw;
  line-height: 1.18vw;
}

.form-tab-50 .tab-50 form .user-info {
    border-color: transparent;    

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: flex-start;
 
    flex: 0 0 80%;   
    width: 80%;
    height: 75%;

    margin: 0 auto;
}

.form-tab-50 .tab-50 form .user-info .submit-div ,
.form-tab-50 .tab-50 form .user-info div
{
    border-color: transparent;    

    display: flex;
    justify-content: space-between;
    align-content: space-around;
    align-items: flex-start;

    height: 12%;
    flex: 0 0 12%;
    width: 100%;


}

.form-tab-50 .tab-50 form .user-info .user-free-text-d {
  height: 47%;
  flex: 0 0 47%;
}

.form-tab-50 .tab-50 .user-info input[type="text"],
.form-tab-50 .tab-50 .user-info input[type="tel"],
.form-tab-50 .tab-50 .user-info input[type="email"]
{
    /* width: 160px; */
    width: 70%;
    /* padding: 3px; */
    border: 1px solid #808992;

    
    font-family: Arial,Arial, Helvetica, sans-serif;
    font-size: 1.18vwpx;
    /* font-size: 12px; */
}

.form-tab-50 .tab-50 .user-info input[type="tel"],
.form-tab-50 .tab-50 .user-info input[type="email"]
{
    direction: ltr;
}

/* .form-tab-50 .tab-50 form .user-info div input ,
.form-tab-50 .tab-50 form .user-info div .submit {
       
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    
} */



.form-tab-50 .tab-50 .user-info label{
    font-size: 1.18vw; 
   line-height: 1.18vw;    
}


.form-tab-50 .tab-50 .user-info div.user-free-text-d .user-free-text {
    /* margin-left: 2vw; */
    color: #72716d;
    
    font-size: 12px;

    width: 100%;
    height: 100%;

    display: flex;
    align-self: flex-end;
}



.form-tab-50 .tab-50 form .user-info .submit-div 
{
    display: flex;
    justify-content: flex-end;
    align-content: space-around;
    align-items: center;
    height: 20%;
}

.form-tab-50 .tab-50 .user-info .submit-div .submit {
    
    display: flex;
    justify-content: center;
    align-content: space-around;
    text-align: center;
    
    width: 4.31vw;
    height: 81%;

    border: 1px solid #808992;

    color: #fff;

    /* background-color: rgb(0, 92, 160); */

    background: linear-gradient(to top, rgba(0,92,160,1) 22%,rgba(0,92,160,1) 48%,rgba(125,185,232,1) 100%);

   

}


.tab-text-area .tab-h,
.tab-text-area .article-text,
.tab-text-area .tab-link {
    display: flex;
    flex-direction: row;
    /* none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ] */
    flex: 0 0 100%;
    width: 100%;

    margin: auto;
    padding: 0;

    /* flex-wrap: nowrap; */
    justify-content: center;
    align-items: center;
    align-content: space-around;
    text-align: right;
}




/*  cune-40 content */

.cubes-40 .cube-40 .cube-content {
    margin: 0 auto;
    padding: 0;

    display: flex;
    flex-wrap: wrap;

    flex: 0 0 90%;
    justify-items: center;
    align-items: center;
    /* align-content: space-around; */
}

.cube-40 .cube-content p{
    margin: 0 auto;
    padding: 0.09vw 0.8vw 0.09vw 0;

    height: 80%;

    width: 100%;
    /* width: 100%;     */
    max-width: 100%;

    display: flex;
    flex: 0 0 100%;
    justify-items: center;
    align-items: center;
    
    /* font-size: 13px; */
    font-size: 1.35vw;
    line-height: 1.35vw;

    color: #6d6d6d;
}


.cube-40 .article-text {
    padding-top: 1vw;
}



.cube-40 .cube-h {
    height: 15%;
    width: 100%;

    padding: 1vw 0.8vw 0 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* align-content: space-evenly; */
    align-content: space-aound;

    border-bottom: 0.15vw solid #dfdbdbfd;
    /* border-bottom: 1px thin solid #6d6a6af1; */

}

.cube-40 .cube-h h3 {
    display: flex;
    margin: 0; 
    margin-bottom: 0.4vw; 
    padding:0;

    /* font-size: 14px; */
    font-size: 1.45vw;
    line-height: 1.45vw;
    font-weight: bold;

    /* font-size: 15px; */

    color: #005ca0;

}




.cube-40 nav>ul li a.read-more {
    /*even margin between arrow and a tag */
    display: block;
    margin-bottom: 0.9vw;
    /* 8px */
}


.cube-40 nav>ul li a.read-more span,
a.read-more-white span,
a.read-more span {
    /* .cube-33 a span { */

    /* padding-left: 12px; */
    padding-left: 0.9vw;
    /* padding-left: 0.6rem; */
    cursor: pointer;

}

a.read-more-white span:hover,
a.read-more-white:hover,
.cube-40 nav>ul li a:hover,
.cube-40 a span:hover,
a.read-more:hover {
    text-decoration: underline;
    color: #005CA0 !important;
}

.cube-40 nav>ul li,
.cube-40 nav>ul li a,
.cube-40 nav>ul li a span,
a.read-more-white,
a.read-more-white span,
a.read-more span,
a.read-more {
    /* font-size: 13px; */
    font-size: 1.1vw;
    line-height: 1.1vw;
}



/* image-url, no-repeat, left to link's text, origin: center, size fixed to vw  
   clip (border-box|padding-box|content-box) has no meaning here*/
.cube-40 a.read-more {
    background: url(./images/read_more_yellow.png) no-repeat left center/0.7vw;
}

.tab-50 a.read-more-white {
    background: url(./images/read_more_white.png) no-repeat left center/0.7vw;
}

a.read-more-white:hover,
a.read-more:hover {
    background: url(./images/read_more_blue.png) no-repeat left center/0.7vw;
}

.tab-link a.read-more-white,
.cube-33-link a.read-more {
    display: flex;
    flex-direction: row;
    width: 100%;

    /* flex: 0 0 100%; */
    justify-content: flex-end;
    align-items: center;
    align-content: space-around;
    padding: 0;
    margin: 0 auto;

    font-size: 1vw;
    line-height: 1vw;

}

.read-more-white,
.read-more {
    display: flex;
    justify-content: flex-end;
}

/* 
.cube-33 a.read-more.yellow {
    background: url(./images/read_more_yellow.png) no-repeat left center;
} */

/* .additional-details {
    text-align: left;
    position: relative;
    top: 15px;
} */



/* ======================== */
/*  Colors and Backgrounds */
/* ======================= */

.paz-yellow-color {
    color: #fecd18;
    /* color: rgb(254, 205, 24); */
}

.paz-yellow-bg {
    background-color: #fecd18;
    /* background-color: rgb(254, 205, 24); */
}

.paz-blue-color {
    color: #0069aa;
    /* background-color: rgb(0,105,170); */
}

.paz-blue-bg {
    background-color: #0069aa;
    /* background-color: rgb(0,105,170); */
}




/* ========================== */
/* debug only */
/* ========================== */

/* 
.main {
    border: 1px black dashed;
    background-color: burlywood;
}

.content_wrapper {
    border: 1px red dashed;
    background-color: yellow;
}

.center-content {
    border: 1px green dashed;
    background-color: green;
}

.main-header {
    background-color: blueviolet;
    color: #000;
}

.tabs {
    background-color: orangered;
}

.tab-33 {
    background-color: rgb(129, 236, 218);
}

.cube-33 {
    background-color: rgb(124, 236, 110);
}

.cubes {
    background-color: brown;
    border: 1px brown solid;
}

.footer-menu>ul {
    background-color: rgb(165, 42, 93);
    border: 1px red solid;
}

.footer-menu>ul li {
    background-color: rgb(165, 173, 247);
    border: 1px solid rgb(6, 12, 61);
}

*/
