
/* =========================== */
/*        RESET all            */
/* =========================== */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

body {
    background: #fff;
    /* padding-bottom: 38px; */
}

.heb-support {
    direction: rtl;
    text-align: right;
    font-family: 'Arial (Hebrew)', Arial;
    line-height: 1.1vw;
}


/* float fix, not really needed here */
.clear-fix::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}



/* ================================== */

/* =================================== */
/*   General nav, headers, styling     */
/* =================================== */

/* h1 {
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #cbcbcb;
    margin-bottom: 0 auto;
    padding-bottom: 0;
} */

h2 {
    font-size: 12px;
    font-weight: bold;
    color: #005ca0;
}


nav>ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: relative;
    display: block;

    list-style-type: none;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

nav>ul li {
    list-style-type: none;
}


/* nav>ul li {
    padding-left: 0.2vw;
} */

nav>ul li a,
a {
    /* display: block; */
    text-decoration: none;
    outline: none;
    /* padding-left: 0.2vw;
  padding-right: 0.2vw; */
}

a:hover {
    text-decoration: underline;
    color: #005CA0 !important;
}

a:focus {
    outline: thin dotted silver;
}

a:active {
    border-width: 1px;
    border-style: dotted;
}

