/* @import "./resettAll.css"; */
/* @import "./resettAll2.css"; */

/* =========================== */
/*        RESET all            */
/* =========================== */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

body {
    background: #fff;
    /* padding-bottom: 38px; */
}

.heb-support {
    direction: rtl;
    text-align: right;
    font-family: 'Arial (Hebrew)', Arial;
    line-height: 1.1;
}


/* ========================== */
/*       Flex styling */
/* ========================== */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center-center {
    align-items: center;
    justify-content: center;
}

.flex-h-center {
    justify-content: center;
}

.flex-v-center {
    align-items: center;

}

.flex-v-start {
    align-items: flex-start;
}

.flex-v-stretch {
    align-items: stretch;
}

/* ========================== */
/* debug only */
/* ========================== */
.main {
    border: 1px black dashed;
    background-color: burlywood;
}

.content_wrapper {
    border: 1px red dashed;
    background-color: yellow;
}

.center-content {
    border: 1px green dashed;
    background-color: green;
}

.main-header {
    background-color: blueviolet;
    color: #000;
}

.big-articles {
    background-color: orangered;
}

.big-image {
    background-color: rgb(129, 236, 218);
}

.small-image {
    background-color: rgb(124, 236, 110);
}

.small-articles {
    background-color: brown;
    border: 1px brown solid;
}

.footer-menu>ul {
    background-color: rgb(165, 42, 93);
    border: 1px red solid;
}

.footer-menu>ul li {
    background-color: rgb(165, 173, 247);
    border: 1px solid rgb(6, 12, 61);
}

/* ========================== */

/* ========================== */
/*   nav headers styling      */
/* ========================== */

h1 {
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #cbcbcb;
    margin-bottom: 12px;
    padding-bottom: 4px;
}

h2 {
    font-size: 12px;
    font-weight: bold;
    color: #005ca0;
}


nav>ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

nav>ul li {
    list-style-type: none;
}

nav>ul li a,
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #005CA0 !important;
}

a:focus {
    outline: thin dotted silver;
}

a:active {
    border-width: 1px;
    border-style: dotted;
}

.select {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 64px;
    height: 16px;
    padding: 3px 24px 0 8px;
    color: #005ca0;
    background: gray;
    overflow: hidden;
}

/* ======================= */
/*     page layout items   */
/* ======================= */
.main-header,
.main,
#fixed-footer {
    /* width: 900px; */
    width: 100%;
    min-width: 900px;
    /* min-width: 100%; */

    margin: 0 auto;
    padding: 0;
}

.main-header {
    height: 105px;
    /* height: 125px; */
    /* height: 40%; */

}

.main {
    height: 70%;
}

.content_wrapper {
    height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;

    margin: 0 auto;
    padding: 0;

    display: flex;
    /* justify-content: stretch; */
    align-items: flex-start;
}

.center-content {
    height: inherit;
    min-height: inherit;
    width: 50%;
    min-width: 50%;
    max-width: 50%;

    /* align-content: space-around; */
    align-content: space-between;
    align-items: center;

}

.big-articles {
    height: 62%;
    min-height: 62%;
    min-width: 100%;
    /* margin: 0.1rem 0 0.1rem 0; */
}

.small-articles {
    height: 35%;
    min-height: 35%;
    min-width: 100%;
    /* margin: 0.1rem 0 0.1rem 0; */
}


.big-articles,
.small-articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.big-image,
.small-image {
    flex-basis: 32.33%;
    width: 32.33%;
}

#fixed-footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999999;
    /* 
    margin: 0 auto;
    padding: 0;

    max-width: 100%; */
    height: 38px;

    /* line-height: 1.5rem; */

}


.footer-menu {

    margin: 0 auto;
    margin-top: 16px;

    height: 100%;
    /* height: 17.99px; */

    width: 100%;
    /* width: 60%;
    min-width: 60%; */

}

.footer-menu>ul {
    height: 90%;
    min-height: 90%;

    width: 70%;
    min-width: 70%;

}


.footer-menu li {
    height: 90%;
    max-height: 90%;

    margin: 0 auto;
    padding: 2px auto;
    padding-bottom: 10px;

    /* font-size: 14px; */
    font-size: 0.7rem;
    line-height: 0.8rem;
    text-align: center;
}


.footer-menu li.sep {
    margin: 0 5px;
}


/*  Colors and Backgrounds */

.paz-yellow-color {
    color: #fecd18;
    /* color: rgb(254, 205, 24); */
}

.paz-yellow-bg {
    background-color: #fecd18;
    /* background-color: rgb(254, 205, 24); */
}


.paz-blue-color {
    color: #0069aa;
    /* background-color: rgb(0,105,170); */
}

.paz-blue-bg {
    background-color: #0069aa;
    /* background-color: rgb(0,105,170); */
}


.main-header {
    background-color: #909090;
    /* background-color: rgb(144,144,144); */
    /* color: #000; */
}

.search-icon {
    background: #999999;
    /* background: rgb(192,199,201); */
}

.search-input {
    background: #ffffff;
    /* background: rgb(255,255,255); */
}


#fixed-footer {
    background: #909090;
    /* background: rgb(144, 144, 144); */
    /* background: #c0c7c9; */
    /* background: rgb(153,153,153); */
}


.footer-menu li {
    color: #fff;
}

.red-text,
.footer-menu li:last-child {
    color: red;
}

/* float fix, not really needed here */
.clear-fix::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


#sideMenu ul li a:hover,
#sideMenu ul li a:active,
#sideMenu ul li a:focus {
    color: #005CA0;
}

.tab-text-bg-color {
    background-color: #7d7d7c;
    /* background-color:rgb(125,125,124; */
}