@import "./resset_base.css";
@import "header_footer.css";


/* ========================== */
/*       Flex styling */
/* ========================== */

.flex {
    display: flex;
    flex-direction: row;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center-center {
    align-items: center;
    justify-content: center;
}

.flex-h-center {
    justify-content: center;
}

.flex-v-center {
    align-items: center;

}

.flex-v-start {
    align-items: flex-start;
}

.flex-v-stretch {
    align-items: stretch;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-column-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.flex-column-stretch {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.flex-w-33 {
    display: flex;
    flex-basis: 32.33%;
    width: 32.33%;
}

/* ======================= */
/*     page layout items   */
/* ======================= */

.main {
    /* width: 100%; */
    width: 900px;
    min-width: 900px;
    /* min-width: 100%; */
    margin: 0 auto;
    padding: 0;
}

/*  ============================================  */
/*               Content area                     */
/*  ============================================  */

.main {
    /* position: relative; */
    /* height: 100%; */

    /* this gives the extra space above the menu when scrolling... */
    /* min-height: 44rem; */

    display: flex;
    flex: 0 0 60%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    height: 60%;
    min-height: 60rem;
    /* margin: 5vw auto;
padding: 5vw 0; */

}

/* .content_wrapper::before {
    position: relative;
    display: border-box;
    margin: 20px;

    margin: 0 auto;

} */

.content_wrapper {
    position: absolute;
    top: 105px;
    /* top: 135px; */

    height: 88%;
    /* min-height: 100vh; */

    width: 95%;
    min-width: 95%;
    max-width: 95%;

    margin: 0 auto;
    padding: 0px;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-content: space-around;

}

.center-content {
    height: 100%;
    min-height: 100%;

    width: 100%;
    min-width: 100%;
    max-width: 100%;

    display: flex;
    flex-wrap: wrap;

   
    /* align-content: space-evenly;  */
    align-content: center; 
    align-items: center;
}


.tabs {
    /* height: 60.5%;
    min-height: 60.5%; */
    height: 53.0%;
    min-height: 53.0%;

    min-width: 100%;

    /* width: 293px;
    height: 355px; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.cubes {
    height: 33%;
    min-height: 33%;

    min-width: 100%;
    /* width: 293px; */

    margin-top: 2vw;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}




.tab-33 {
    display: flex;
    flex-basis: 32.33%;
    width: 32.33%;
}


.tabs article:nth-child(1) {
    background: url("./images/big_img_1.jpg") center/ 100% 100% no-repeat;
}

.tabs article:nth-child(2) {
    background: url("./images/big_img_2.jpg") center/ 100% 100% no-repeat;
}

.tabs article:nth-child(3) {
    background: url("./images/big_img_3.jpg") center/ 100% 100% no-repeat;
}

.tabs article .tab-text-area {
    /* background-color: #737373; */
    /* 10% transparent */
    background-color: rgb(115, 115, 115, 0.9);
}


.tabs article,
.tabs article .tab-text-area {
    border-radius: 0 0 2vw 0;
    /* border-radius: 0 0 20px 0; */
}

.tabs article .tab-text-area {
    margin-right: 0.6vw;
    margin-bottom: 0.6vw;
}


.tab-text-area {
    height: 26%;
    width: 90%;
    min-width: 90%;

    margin: 0;
    /* padding: 0rem 0.2rem 0.3rem 0.8rem; */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: space-evenly;

}

.tab-text-area .tab-h,
.tab-text-area .article-text,
.tab-text-area .tab-link {
    display: flex;
    flex-direction: row;
    /* none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ] */
    flex: 0 0 100%;
    width: 100%;

    margin: auto;
    padding: 0;

    /* flex-wrap: nowrap; */
    justify-content: center;
    align-items: center;
    align-content: space-around;
    text-align: right;
    vertical-align: middle;
}


.tab-text-area .tab-h h3,
.tab-text-area p.article-text,
.tab-text-area .tab-link a {
    display: flex;
    width: 87%;
    flex: 0 0 87%;

    margin: auto;
    padding: 0;
}

.tab-33 .tab-text-area .tab-h,
.tab-33 .tab-text-area .tab-link {
    display: flex;
    height: 20%;
}

.tab-33 .tab-text-area h3 {
    /* font-size: 14px;
    line-height: 14px; */
    display: flex;
    margin: 0;


    /* font-size: 14px; */
    font-size: 1.40vw;
    line-height: 1.40vw;
    font-weight: bold;
}



.tab-33 .tab-text-area p.article-text {
    /* font-size: 13px;
    line-height: 13px; */
    display: flex;
    margin: 0;
    /* padding: 0 1.1vw; */
    height: 60%;

    font-size: 1.35vw;
    line-height: 1.35vw;
}


.tab-33 .tab-text-area .tab-link a>span {    
    font-size: 1.35vw;
    line-height: 1.35vw;
}

.cube-33 {

    display: flex;
    flex-basis: 32.33%;

    /* flex-direction: column; */
    /* flex-wrap: wrap; */

    /* equiv to top left rtl*/
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
    /* justify-content: center;
    align-items: center; */

    width: 32.33%;
    min-width: 32.33%;

    height: 100%;

    color: #575757;
    background-image: linear-gradient(#fefefe, #eeeeee);

    /* background-color: #fefefe;
    background-color: rgb(254, 254, 254);
    background-color: #eeeeee;
    background-color: rgb(238, 238, 238); */

    border-radius: 0 2vw 0 0;
    border: 0.1vw hidden lightgray;
    /* border-radius: 0 20px 0 0;
    border: 0.9px hidden darkgray; */
    /* 10% will give a soft gray border */
    /* border: 10% hidden darkgray; */

    border-style: outset hidden hidden outset;
}


.cube-content {
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;

    /* margin-bottom: 0.8rem; */
    /* padding-bottom: 0.8rem; */

    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: flex-end;
    align-items: flex-start;
    /* align-items: space-around; */
    /* align-content: space-evenly; */
    /* align-content: space-around; */
    /* align-content: center; */
}


.cube-content div {
    margin: 0 auto;
    padding: 0;

    display: flex;
    flex: 0 0 90%;
    justify-items: center;
}

.cube-h {
    height: 15%;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* align-content: space-evenly; */
    align-content: rspace-aound;
    border-bottom: 0.15vw solid #dfdbdbfd;
    /* border-bottom: 1px thin solid #6d6a6af1; */  

}

.cube-h h3 {
    display: flex;
    margin: 0;
    margin-right: 1vw;

    /* font-size: 14px; */
    font-size: 1.40vw;
    line-height: 1.40vw;
    font-weight: bold;

}

.cube-img {

    height: 50%;
    min-height: 50%;
    width: 100%;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cube-img img {
    display: flex;
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin: auto;
    /* padding: 1% 10% 1% 10%; */
}


.cube-nav-map {
    display: flex;
    flex-wrap: nowrap;
    flex: 0 0 100%;

    justify-content: flex-start;
    align-content: space-between;
    align-items: baseline;

    height: 80%;
    width: 100%;
    min-width: 100%;

    padding: 0;
    padding-left: 1rem;
}

.cube-nav-map .cube-img,
.cube-nav-map nav {
    display: flex;
    flex: 0 0 25%;
    justify-content: flex-start;
    align-content: space-between;
    align-items: baseline;

    height: 100%;
    min-height: 100%;
    width: 25%;
    min-width: 25%;
    margin: auto;
}

.cube-nav-map img {
    display: flex;
    flex: 0 0 100%;
    height: 100%;
    width: 100%;
    margin: auto;
    /* padding: 1% 10% 1% 10%; */
}


.cube-33 nav>ul {

    height: 100%;
    margin: auto;
    /* margin: 0px; */
    padding: 0px;
    padding-top: 0.8vw;
    /* padding-top: 0.8rem; */

    list-style-type: none;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}



.cube-33 nav>ul li a,
.cube-33 a span {
    text-decoration: underline;
    color: #72716d;
}

.cube-33 nav>ul li a.read-more {
    /*even margin between arrow and a tag */
    display: block;
    margin-bottom: 0.9vw;
    /* 8px */
}


.cube-33 nav>ul li a.read-more span,
a.read-more-white span,
a.read-more span {

    padding-left: 0.9vw;
    cursor: pointer;

}

a.read-more-white span:hover,
a.read-more-white:hover,
.cube-33 nav>ul li a:hover,
.cube-33 a span:hover,
a.read-more:hover {
    text-decoration: underline;
    color: #005CA0 !important;
}

.cube-33 nav>ul li,
.cube-33 nav>ul li a,
.cube-33 nav>ul li a span,
a.read-more-white,
a.read-more-white span,
a.read-more span,
a.read-more {
    /* font-size: 13px; */
    font-size: 1.35vw;
    line-height: 1.35vw;
}



/* image-url, no-repeat, left to link's text, origin: center, size fixed to vw  
   clip (border-box|padding-box|content-box) has no meaning here*/
.cube-33 a.read-more {
    background: url(./images/read_more_yellow.png) no-repeat left center/0.7vw;
}

.tab-33 a.read-more-white {
    background: url(./images/read_more_white.png) no-repeat left center/0.7vw;
}

a.read-more-white:hover,
a.read-more:hover {
    background: url(./images/read_more_blue.png) no-repeat left center/0.7vw;
}

.tab-link a.read-more-white,
.cube-link a.read-more  {
    display: flex;
    flex-direction: row;
    width: 100%;

    justify-content: flex-end;
    align-items: center;
    align-content: space-around;

    padding: 0;
    margin: 0 auto;

}

.read-more-white,
.read-more {
    display: flex;
    justify-content: flex-end;
}

/* 
.cube-33 a.read-more.yellow {
    background: url(./images/read_more_yellow.png) no-repeat left center;
} */

/* .additional-details {
    text-align: left;
    position: relative;
    top: 15px;
} */


/* ======================== */
/*  Colors and Backgrounds */
/* ======================= */

.paz-yellow-color {
    color: #fecd18;
    /* color: rgb(254, 205, 24); */
}

.paz-yellow-bg {
    background-color: #fecd18;
    /* background-color: rgb(254, 205, 24); */
}

.paz-blue-color {
    color: #0069aa;
    /* background-color: rgb(0,105,170); */
}

.paz-blue-bg {
    background-color: #0069aa;
    /* background-color: rgb(0,105,170); */
}




/* ========================== */
/* debug only */
/* ========================== */

/* 
.main {
    border: 1px black dashed;
    background-color: burlywood;
}

.content_wrapper {
    border: 1px red dashed;
    background-color: yellow;
}

.center-content {
    border: 1px green dashed;
    background-color: green;
}

.main-header {
    background-color: blueviolet;
    color: #000;
}

.tabs {
    background-color: orangered;
}

.tab-33 {
    background-color: rgb(129, 236, 218);
}

.cube-33 {
    background-color: rgb(124, 236, 110);
}

.cubes {
    background-color: brown;
    border: 1px brown solid;
}

.footer-menu>ul {
    background-color: rgb(165, 42, 93);
    border: 1px red solid;
}

.footer-menu>ul li {
    background-color: rgb(165, 173, 247);
    border: 1px solid rgb(6, 12, 61);
}

*/